body {
    background-color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: azure;
}

a {
    text-decoration: none;
    font-size: 2em;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.site-title,
.site-subtitle {
    text-align: center;
    color: whitesmoke;
}

.site-subtitle {
    font-style: italic;
}